@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --color-green: #50fa7b;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    padding: 30px;
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgb(65, 63, 63);
    font-size: 18px;
    line-height: 28px;
}

header div a {
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
}

header div a:hover {
    color: var(--color-green);
    transition: color 300ms;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

body div h1 {
    color: var(--color-green);
}

body div ul {
    padding-bottom: 15px;
}

body div ul h3 {
    color: var(--color-green);
}

body div ul li {
    margin-top: 5px;
}

body div img{
    border-radius: 50%;
    margin: 30px 0;
    border: solid var(--color-green);
}

body div p {
    width: 50%;
    margin: 25px auto;
    font-size: 15px;
    line-height: 24px;
}

body div p a {
    text-decoration: none;
    color: gray;
}

#bottom {
    border-top: 1px solid var(--color-green);
    margin-top: 15px;
}

#links_bottom {
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
}