{% extends "layout.njk" %}

{% block title %}
    <title>{{information.title}}</title>
    <link rel="stylesheet" href="/styles.css">
{% endblock %}

{% block content %}
    <div class="card_course" id="{{ information.id }}">
        <div class="course_logos">
            <div class="course_logo1">
                <img src="{{ information.logo }}" alt="{{ information.title }} Logo">
            </div>
            <div class="course_logo2">
                <img src="https://rocketseat.com.br/static/images/gostack/logo-rocketseat.svg" alt="Rocketseat Logo">
            </div>
        </div>
        <div class="course_info2">
            <a class="color-{{ information.id }}">{{ information.info2_1 }}</a> <a>{{ information.info2_2 }}</a>
        </div>
        <div class="card_pay">
            <a class="course_pay" href="https://rocketseat.com.br/{{ information.id }}" target="_blank">{{ information.pay }}</a>
        </div>
    </div>
    
{% endblock %}