{% extends "layout.njk" %}

{% block title %}
    <title>Page Not Found</title>
{% endblock %}

{% block header %}
    <h1>Error 404. Page not Found!</h1>
{% endblock %}

{%block content%}
{% endblock %}